{% for new in news %}
	{% set id = new.id %}
	{% set title = new.title %}
	{% set content = new.content %}
	{% set image = new.image %}
	{% set views = new.views %}
	{% set userFrom = new.user_from %}
	{% set publishDate = new.publish_date %}
	{% set indexNumber = news|length - (loop.index - 1) %}

	<div id="{{id}}" class="new p-4 md:w-1/3">
		<div class="h-full border-2 border-gray-800 rounded-lg overflow-hidden">
			{% if image %}
				<img class="lg:h-48 md:h-36 w-full object-cover object-center" src="files/{{image}}" alt="Publicación {{indexNumber}}">
			{% endif %}
			<div class="p-6">
				<h2 class="tracking-widest text-xs title-font font-medium text-gray-500 mb-1">PUBLICACIÓN
					{{indexNumber}}</h2>
				<h1 class="title-font text-lg font-medium text-black mb-3">{{title}}</h1>
				<p class="leading-relaxed mb-3">{{content}}</p>
				<div class="flex items-center flex-wrap flex-row justify-content-between">
					<p class="card-text text-xs mb-0">
						<small class="text-muted">
							<b>Fecha de publicación:</b>
							{{publishDate}}</small>
					</p>
					<span class="eye text-gray-500 mr-0 inline-flex items-center lg:ml-0 md:ml-0 ml-0 leading-none text-sm border-gray-600">
						<svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewbox="0 0 24 24">
							<path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
							<circle cx="12" cy="12" r="3"></circle>
						</svg>
						{{views}}
					</span>
				</div>
			</div>
		</div>
	</div>
{% endfor %}
