{% extends 'dashboard.html.twig' %}

{% block titlePage %}Mensajes
{% endblock %}

{% block jsContent %}
	{{ encore_entry_script_tags('messagejs') }}
{% endblock %}

{% block styleContentDashBoard %}
	{{ encore_entry_link_tags('message') }}
{% endblock %}

{% block pageContent %}
{# <h3>Todos</h3> #}
{% set messages = messagesRaw %}
{% for message in messages %}
	{% set id = message.id %}
	{% set affair = message.affair %}
	{% set content = message.content %}
	{% set send_date = message.send_date %}
	{% set isRemoved = message.removed ? 'Removio' : 'No Removio' %}
	{% set isImportant = message.important ? 'Destacado' : 'No Destacado' %}
	{% set userFrom = message.user_from %}
	{% set userTo = message.user_to %}

	<div class="d-flex message-item-{{id}}">
		<div class="d-flex align-items-center justify-content-center message-check-container">
			<i class="fa-solid fa-square-check fa-3x"></i>
		</div>

		<div class="card mb-3">
			<div class="row g-0 icon-message-container">
				<div class="col-1 p-2">
					<i class="fa-solid fa-eye-slash icon-message"></i>
				</div>
			</div>
			<div class="row g-0">
				<div class="d-flex flex-column justify-content-center col-md-3 align-items-center my-2 gap-3">
					<div class="d-flex justify-content-center image-message-container">
						<img src="./images/iessalduba.jpg" class="img-fluid rounded-circle" alt="...">
					</div>
					<div class="d-flex justify-content-center">
						<span>
							<b>{{userFrom}}</b>
						</span>
					</div>
				</div>
				<div class="col-md-8">
					<div
						class="card-body p-3">
						{# TODO Esto de padding 3 se tiene que mirar #}
						<h5 class="card-title">{{affair}}</h5>
						<p class="card-text">{{content}}</p>
						<p class="card-text">
							<small class="text-muted">Fecha de envío:
								{{send_date}}</small>
						</p>
					</div>
				</div>

			</div>
			<div class="row g-0 icon-message-container mb-2">
				<div class="col-1 p-2">
					<i class="fa-solid fa-recycle icon-message" onclick="deleteMessage('{{id}}')"></i>
				</div>
			</div>
		</div>

		{# <div class="card mb-3">
																																																				<div class="row g-0">
																																																					<div class="col-md-4">
																																																						<img src="./images/iessalduba.jpg" class="img-fluid rounded-start" alt="...">
																																																					</div>
																																																					<div class="col-md-8">
																																																						<div class="card-body">
																																																							<h5 class="card-title">Card title</h5>
																																																							<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
																																																							<p class="card-text">
																																																								<small class="text-muted">Last updated 3 mins ago</small>
																																																							</p>
																																																						</div>
																																																					</div>
																																																				</div>
																																																			</div> #}

		{# <div class="card mb-3" style="max-width: 540px;">
																							<div class="row g-0">
																								{{message.id}}
																								<br>
																								{{message.affair}}<br>
																								{{message.content}}<br>
																								{{message.send_date}}<br>
																								{{message.removed ? 'Removio' : 'No Removio'}}<br>
																								{{message.important ? 'Destacado' : 'No Destacado'}}<br>
																								De:
																								{{message.user_from}}<br>
																								Para:
																								{{message.user_to}}<br><br>
																													         <script>console.log('{message}')</script>
	</div>
</div>#}</div>{% endfor %}{% endblock %}
